﻿@model IoT_eBee.Models.Sensor

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sensor</h4>
    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="SensorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
