﻿@model (IoT_eBee.Models.Sensor, IEnumerable<IoT_eBee.Models.SensorData>)

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4 title="@Model.Item1.Nickname"></h4>
    <hr />
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().Timestamp)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().Temperature)
                
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().Humidity)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().Weight)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item2)
        {
        <tr>
            <th scope="row">
                @{
                    string date = DateTimeOffset.FromUnixTimeSeconds(item.Timestamp).ToLocalTime().ToString("g");
                }
                @Html.DisplayFor(model => date)

            </th>
            <th scope="row">
                @{
                    string temp = item.Temperature.ToString("##.####") + " °C";
                }
                @Html.DisplayFor(model => temp)
            </th>
            <th scope="row">
                @{
                    string humid = item.Humidity.ToString("##.####") + "%";
                }
                @Html.DisplayFor(model => humid)
            </th>
            <th scope="row">
                @{
                    string weight = item.Weight.ToString("##.####") + " Kg";
                }
                @Html.DisplayFor(model => weight)
            </th>
        </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
