﻿@model IEnumerable<IoT_eBee.Models.Sensor>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>My Sensor List</h1>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Add New Sensor</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nickname)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(model => item.Nickname)
                </th>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SensorId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SensorId">Details</a>
                    @*<a asp-action="Delete" asp-route-id="@item.SensorId">Delete</a>*@
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>You need to sign in first before seeing available sensors.</p>
}

